apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: kdump-pmem-setup
  namespace: kdump-pmem-setup

generatorOptions:
  disableNameSuffixHash: true

sortOptions:
  order: fifo

resources:
  - 00-project.yaml
  - 01-sa.yaml
  - 02-rbac.yaml
  - 03-daemonset.yaml
